.hero {
  background: url("../../assets/pictures/LandingPage/hero-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 2.5rem;
}

.hero button {
  background: gold;
  border: none;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
  font-size: 1rem;
}

.hero button:hover {
  background: white;
}